<!-- Parallax Section -->
<section class="site-section parallax-features-section parallax" id="parallax-features" data-scrollax-parent="true">

  <!-- Parallax Image -->
  <div class="cover">
    <img src="{{ site.baseurl }}/images/back.png" alt="Parallax Features" />
  </div>

  <!-- <div class="container" style="background-image: url('images/back2.jpg')"> -->
  <div class="container">

    <div class="row text-center">


      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2 style="color: #cce4ff">{{ site.core-title }}</h2>
        <hr class="normal">
      </header>


      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.core-description }}</p>
      </div>

    </div>

    <div class="row section-features" style="margin-bottom: 50px;">

      <div class="col-md-6 phone" style="padding: auto; margin: auto;">
        <img src="/images/logos/instiapp-new.png" alt="InstiApp" onclick="instiapp()" />
      </div>

      <div class="col-md-6 phone" style="padding: auto; margin: auto;">
        <img src="/images/logos/resobin.png" width="255px" alt="Cerium" onclick="cerium()" />
      </div>
    </div>

    <div class="row section-features" style="margin-bottom: 50px;">
      <div class="col-md-6 phone" style="padding: auto; margin: auto; margin-bottom: 50px;">
        <img src="/images/logos/resumeportal.jpeg" width="255px" alt="Resume Verification Portal"
          onclick="resumeportal()" />
      </div>

      <div class="col-md-6 phone" style="padding: auto; margin: auto;">
        <img src="/images/logos/messi.png" alt="RPi-Noticeboard" onclick="noticeboard()" />
      </div>
    </div>

    <!-- <div class="row text-center">


      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2 style="color: #cce4ff; transform: scale(0.8); ">Ongoing Projects</h2>
        <hr class="normal" style="margin-top: 10px;">
      </header>

      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>The following projects are currently in their development phase and soon will be finalized for institutional
          purposes.</p>
      </div>

    </div> -->

    <!-- <div class="row section-features" style="margin-bottom: 70px;">

      <div class="col-md-4 phone" style="padding: auto; margin: auto; margin-bottom: 50px;">
        <img src="/images/logos/gaming_portal.jpg" alt="Gaming Portal" onclick="game()" />
      </div>

      <div class="col-md-4 phone" style="padding: auto; margin: auto; margin-bottom: 50px;">
        <img src="/images/logos/atlas hostel.jpeg" alt="Atlas" onclick="atlas()" />
      </div>

      <div class="col-md-4 phone" style="padding: auto; margin: auto; margin-bottom: 50px;">
        <img src="/images/logos/courserank.png" alt="CourseRank" onclick="courserank()" />
      </div>

    </div> -->

    <div id="instiapp-modal">

      <div class="instiapp-blocker" onclick="instiappclose()"></div>

      <div class="row section-features" id="instiapp-popup">

        <div class="close-button">
          <button onclick="instiappclose()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-4 col-sm-6 text-left">

          {% for feature in site.core-features-instiapp-left %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <div class="col-md-4 popup">
          <img src="{{ site.baseurl }}/images/logos/instiapp-new.png" alt="InstiApp" />
          <div class="logo">
            <a href="{{ site.instiapp-github }}" target="_blank"><i class="fa fa-github github-icon"></i></a>
            <a href="{{ site.instiapp-site }}" target="_blank"><i class="fa fa-globe browser-icon"></i></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 text-right">

          {% for feature in site.core-features-instiapp-right %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>

    </div>

    <div id="cerium-modal">

      <div class="cerium-blocker" onclick="ceriumclose()"></div>

      <div class="row section-features" id="cerium-popup">

        <div class="close-button">
          <button onclick="ceriumclose()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-4 col-sm-6 text-left">

          {% for feature in site.core-features-resobin-left %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <div class="col-md-4 popup" style="padding: auto; margin: auto;">
          <img src="{{ site.baseurl }}/images/logos/resobin.png" alt="Cerium" />
          <div class="logo">
            <a href="{{ site.cerium-github }}" target="_blank"><i class="fa fa-github cerium-github-icon"></i></a>
            <a href="{{ site.cerium-database }}" target="_blank"><i class="fa fa-database doc-icon"
                style="transform: scale(3);"></i></a>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 text-right">

          {% for feature in site.core-features-resobin-right %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
    </div>

    <div id="noticeboard-modal">

      <div class="noticeboard-blocker" onclick="noticeboardclose()"></div>

      <div class="row section-features" id="noticeboard-popup">

        <div class="close-button">
          <button onclick="noticeboardclose()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-4 col-sm-6 text-left">

          {% for feature in site.core-features-messi-left %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <div class="col-md-4 popup" style="padding: auto; margin: auto;">
          <img src="{{ site.baseurl }}/images/logos/messi.png" alt="InstiApp" />
          <div class="logo"><a href="{{ site.noticeboard-github }}" target="_blank"><i class="fa fa-github"></i></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 text-right">

          {% for feature in site.core-features-messi-right %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
    </div>

    <div id="atlas-modal">

      <div class="atlas-blocker" onclick="atlasclose()"></div>

      <div class="row section-features" id="atlas-popup">

        <div class="close-button">
          <button onclick="atlasclose()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-4 col-sm-6 text-left">

          {% for feature in site.ongoing-projects-atlas-left %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <div class="col-md-4 popup" style="padding: auto; margin: auto;">
          <img src="{{ site.baseurl }}/images/logos/atlas hostel.jpeg" alt="Atlas" />
          <!-- <div class="logo"><a href="{{ site.noticeboard-github }}" target="_blank"><i class="fa fa-github"></i></a></div> -->
        </div>

        <div class="col-md-4 col-sm-6 text-right">

          {% for feature in site.ongoing-projects-atlas-right %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
    </div>

    <div id="resumeportal-modal">

      <div class="resumeportal-blocker" onclick="resumeportalclose()"></div>

      <div class="row section-features" id="resumeportal-popup">

        <div class="close-button">
          <button onclick="resumeportalclose()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-4 col-sm-6 text-left">

          {% for feature in site.core-features-resumeportal-left %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <div class="col-md-4 popup" style="padding: auto; margin: auto;">
          <img src="{{ site.baseurl }}/images/logos/resumeportal.jpeg" alt="Resume Verification Portal" />
          <!-- <div class="logo"><a href="{{ site.noticeboard-github }}" target="_blank"><i class="fa fa-github"></i></a></div> -->
        </div>

        <div class="col-md-4 col-sm-6 text-right">

          {% for feature in site.core-features-resumeportal-right %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
    </div>

    <div id="courserank-modal">

      <div class="courserank-blocker" onclick="courserankclose()"></div>

      <div class="row section-features" id="courserank-popup">

        <div class="close-button">
          <button onclick="courserankclose()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-4 col-sm-6 text-left">

          {% for feature in site.ongoing-projects-courserank-left %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <div class="col-md-4 popup" style="padding: auto; margin: auto;">
          <img src="{{ site.baseurl }}/images/logos/courserank.png" alt="Course Rank" />
          <!-- <div class="logo"><a href="{{ site.noticeboard-github }}" target="_blank"><i class="fa fa-github"></i></a></div> -->
        </div>

        <div class="col-md-4 col-sm-6 text-right">

          {% for feature in site.ongoing-projects-courserank-right %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
    </div>

    <div id="game-modal">

      <div class="game-blocker" onclick="gameclose()"></div>

      <div class="row section-features" id="game-popup">

        <div class="close-button">
          <button onclick="gameclose()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-4 col-sm-6 text-left">

          {% for feature in site.core-features-game-left %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <div class="col-md-4 popup" style="padding: auto; margin: auto;">
          <img src="/images/logos/gaming_portal.jpg" alt="Gaming Portal" />
          <div class="logo"><a href="https://games.devcom-iitb.org/" target="_blank"><i
                class="fa fa-globe browser-icon"></i></a></div>
        </div>

        <div class="col-md-4 col-sm-6 text-right">

          {% for feature in site.core-features-game-right %}

          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>

    </div>

  </div>
</section>

<script>

  function disableScroll() {
    document.body.classList.add("stop-scrolling");
  }

  function enableScroll() {
    document.body.classList.remove("stop-scrolling");
  }

  function instiapp() {
    document.getElementById("instiapp-modal").style.display = "block";
    disableScroll();
  }

  function instiappclose() {
    document.getElementById("instiapp-modal").style.display = "none";
    enableScroll();
  }

  function cerium() {
    document.getElementById("cerium-modal").style.display = "block";
    disableScroll();
  }

  function ceriumclose() {
    document.getElementById("cerium-modal").style.display = "none";
    enableScroll();
  }

  function noticeboard() {
    document.getElementById("noticeboard-modal").style.display = "block";
    disableScroll();
  }

  function noticeboardclose() {
    document.getElementById("noticeboard-modal").style.display = "none";
    enableScroll();
  }

  function atlas() {
    document.getElementById("atlas-modal").style.display = "block";
    disableScroll();
  }

  function atlasclose() {
    document.getElementById("atlas-modal").style.display = "none";
    enableScroll();
  }

  function resumeportal() {
    document.getElementById("resumeportal-modal").style.display = "block";
    disableScroll();
  }

  function resumeportalclose() {
    document.getElementById("resumeportal-modal").style.display = "none";
    enableScroll();
  }

  function courserank() {
    document.getElementById("courserank-modal").style.display = "block";
    disableScroll();
  }

  function courserankclose() {
    document.getElementById("courserank-modal").style.display = "none";
    enableScroll();
  }

  function game() {
    document.getElementById("game-modal").style.display = "block";
    disableScroll();
  }

  function gameclose() {
    document.getElementById("game-modal").style.display = "none";
    enableScroll();
  }

</script>