<!-- Team Section -->
<section class="site-section team-section section-focus" id="team">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.team-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.team-description }}</p>
      </div>

    </div>

    <!-- Team Members -->
    <div class="container">
      <div class="row">

      <div class="col-md-3 col-sm-2"></div>
      {% for member in site.OverallCoordinators %}

        <div class="col-md-3 col-xs-6 col-sm-4">
            <div class="our-team">
                <img src="{{ site.baseurl }}/images/avatars/{{ member.avatar }}">
                <div class="team-content">
                    <h3 class="title">{{ member.name }}</h3>
                    <span class="post">{{ member.tagline }}</span>
                    <ul class="social">
                        <li><a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ member.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

      {% endfor %}
  
    </div>
    <div class="row">
        <div class="col-md-2"></div>
       {% for member in site.ProjectLeads %}

        <div class="col-md-2 col-xs-6 col-sm-3">
            <div class="our-team">
                <img src="{{ site.baseurl }}/images/avatars/{{ member.avatar }}">
                <div class="team-content">
                    <h3 class="title">{{ member.name }}</h3>
                    <span class="post">{{ member.tagline }}</span>
                    <ul class="social">
                        <li><a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ member.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

      {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2"></div>
      
        {% for member in site.ManagementCoordinators %}

        <div class="col-md-2 col-xs-6 col-sm-3">
            <div class="our-team">
                <img src="{{ site.baseurl }}/images/avatars/{{ member.avatar }}">
                <div class="team-content">
                    <h3 class="title">{{ member.name }}</h3>
                    <span class="post">{{ member.tagline }}</span>
                    <ul class="social">
                        <li><a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ member.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

      {% endfor %}
    </div>
    <div class="row">

      {% for member in site.CoreMembers %}

        <div class="col-md-2 col-xs-6 col-sm-3">
            <div class="our-team">
                <img src="{{ site.baseurl }}/images/avatars/{{ member.avatar }}">
                <div class="team-content">
                    <h3 class="title">{{ member.name }}</h3>
                    <span class="post">{{ member.tagline }}</span>
                    <ul class="social">
                        <li><a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ member.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

      {% endfor %}
    </div>
  </div>  

  </div>
</section>
